<h1>Welcome to your own romantic Star Wars Adventure!</h1>
<h3> Prepare to feel the Force </h3>

<p>
  A long time ago in a galaxy far, far away...
</p>

<p>
  <%= link_to "Begin the saga", edit_story_path %>
</p>
